---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { metaverse } from "@static/images";
import { Footer } from "@modules/Footer";
---

    <style>
        @keyframes slideUp {
            from {
                transform: translateY(20px);
            }
            to {
                transform: translateY(0);
            }
        }

        .article-background {
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            min-height: 75vh;
        }

        .article-content {
            animation: fadeIn 0.7s ease-in-out, slideUp 0.5s ease-in-out;
            padding: 25px 0 0;
            max-width: 1000px;
            margin: 0 auto;
        }

        .article-content p {
            color: black;
            margin: 20px 0;
        }

        .article-content, 
        .article-content h2,  
        .article-content ul, 
        .article-content li {
            color: black;
        }

        .article-content a {
        color: #475c6d; /* Change the color as per your preference */
        text-decoration: underline;
        }

        /* Media query for screens smaller than 900px */
        @media (max-width: 1050px) {
            .article-content {
                padding: 20px 0 0;
                max-width: 95%;
            }

            .article-content p {
                margin: 18px 0;
                font-size: 16px;
            }

            .article-content h2 {
                font-size: 20px;
            }
        }

        /* Media query for screens smaller than 600px */
        @media (max-width: 550px) {
            .article-content {
                padding: 15px 0 0;
                max-width: 90%;
            }

            .article-content p {
                margin: 15px 0;
                font-size: 14px;
            }

            .article-content h2 {
                font-size: 18px;
            }
        }
    </style>
    
    <Layout
        title="Libreverse - The Whitepaper"
        description="The Whitepaper for Libreverse."
    >
        <main class="page-content">
            <Hero
                heroType="ParallaxImage"
                client:visible
                data={{
                    image: metaverse.src,
                    content: {
                        title: "Our Whitepaper",
                        paragraph:
                            "This whitepaper is an attempt to set out the problem and solution with the way that the metaverse is currently being developed.",
                    },
                }}
            />
            <article class="article-background">
              <div class="article-content">
                <h2>Section 1: Introduction</h2>

                <p>On October 28, 2021, Mark Zuckerberg had become the laughing stock of the internet after rebranding Facebook to Meta Platforms as part of his efforts to create an online Metaverse.</p>

                <p>Three years later, it’s looking increasingly like the internet is becoming the laughing stock of Mark Zuckerberg, as the Metaverse grows ever closer to reality. </p>

                <p>In all honesty, I think the primary reason for backlash against the metaverse was that people didn’t really understand what it was or what it was intended to do.
                At its core, the Metaverse is more of a concept than a select product. The idea is based on the fact that over time our lives have become exponentially digitised.
                For example, a decade ago social media didn’t go beyond communicating with people you had already met in real life. Nowadays, a large proportion of the people we meet, we meet on social media.</p>

                <p>Therefore, if this trend continues, it logically follows that our entire lives will occur online. This is the purpose of the Metaverse.
                It seeks to be the sole place that we work, the sole place that we relax, and the sole place that we really exist.
                In the long run, this technology will likely be combined with some form of automated life support technology that allows us to exist without needing to consider our physical existence at all.</p>

                <p>The problem is, really, the obvious question that this poses: How is this not going to cause the matrix? The answer is simply not much. However, I don’t think that this will stop the adoption of this technology.
                For example, it is common knowledge how digital advertising tools from social media platforms have been, and likely will continue to be, abused to manipulate public opinion for nefarious purposes such as electoral manipulation.
                We continue to use these platforms regardless.</p>

                <p>The point is that we all understand that what these companies are doing is ultimately bad for everyone except those personally invested in the company. Again, the userbases of these companies continue to grow at a stable rate. </p>

                <p>This is the root of the problem that we face. These companies, among many others, prove that if a product is appealing enough in the short-term, people will use it even if they know it will do massive damage to them in the long term.  </p>

                <p>A good example of this are things like gambling, pornography, and fast food. Each extremely profitable industries that exist due to their ability to hijack the human brain’s reward pathways.
                For example, gambling hijacks the human risk-reward pathways that were designed to make humans take the risks required for the species to progress.
                If early humans discovered a new plant, the only way to find out if it was safe to eat would be to try.
                If one population contained individuals that wouldn’t try anything new and another contained individuals that would occasionally try something new, the population that tried new things would gain a significant evolutionary advantage.
                This is also the basis for curiosity. </p>

                <p>However, this system was refined in a world that looked very different to ours. We as humans (sadly, in only the majority of cases) are not scavenging for any food that is available on a day-to-day basis. 
                This means that this system no longer makes sense. However, we have not been in this position for long enough for this to have evolved away. Therefore, we are left susceptible to exploitation through it. </p>

                <p>This is the same mechanism by which we will be susceptible to the metaverse. 
                If the metaverse can offer us an illusion of everything we could ever imagine, our reward systems will once again be hijacked because as far as our reward pathways are concerned, literal paradise is available to us if only we remain plugged into the headset. 
                Even if we know it’s fake. Even if we know it’s bad for us. We just won’t be able to stop. </p>

                <p>In a single sentence:  Meta really is on a highway to creating the real-life matrix. </p>

                <h2>Section 2: What can we do about it?</h2>

                <p>Open-source needs a competitor that can be adopted by anyone creating a competitor metaverse, such that they don't have to do decades of catch-up to Meta to have a viable product.</p>

                <p>The truth is, that whilst having a metaverse that we spend our entire existences in is not a good idea, or really something that any of us logically want, it's kind of inevitable.</p>

                <p>Further, it's also something that it doesn't make much sense to try and regulate, since you just put yourself at a a technological disadvantage against those who do not.</p>

                <p>A really good example of this is how AI models that contain copyrighted content in their training data. 
                These almost certainly violate existing copyright regulation, however there's kind of an understanding that that has to be overlooked since one country regulating it will just put them behind in the AI race.
                The race for technology which ultimately has much wider reaching consequences for even international power than any of us would like to admit.</p>
              </div>
            </article>
        </main>
        <Footer />
    </Layout>
